<p>Chi tiết tour</p>
<dx-data-grid [dataSource]="tourChiTietDataSource" [showBorders]="true" [columnAutoWidth]="true"  >
  <dxi-column caption="Tên thành phố " dataField="dd.ddThanhpho" dataType="string"></dxi-column>
  <dxi-column caption="Tên địa điểm " dataField="dd.ddTen" dataType="date"></dxi-column>
  <dxi-column caption=" Mô tả  " dataField="dd.ddMota" dataType="date"></dxi-column>
  <dxi-column caption="Thứ tự " dataField="ctThutu" dataType="string"></dxi-column>
<!--  <dxi-column caption="Completed" dataType="boolean" [calculateCellValue]="completedValue"></dxi-column>-->
</dx-data-grid>
